<h1>Job</h1>
<form action="/Jobs" method="post">
  <label for="Job">Job Location: </label>
  <input id="Job" name="Job" type="text">
  <label for="StartDate">Start Date: </label>
  <input id="StartDate" name="StartDate" type="text">
  <label for="EndDate">EndDate: </label>
  <input id="EndDate" name="EndDate" type="text">
  <button type="submit">Submit</button>
</form>
